.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px; /* Add top padding to avoid collision with the navbar */
}

.job-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cards per row */
  gap: 16px; /* Spacing between cards */
  width: 100%;
  max-width: 1200px; /* Adjust as needed */
}
